/*
==============================
  _____                 
 |  __ \                
 | |__) |_ _  __ _  ___ 
 |  ___/ _` |/ _` |/ _ \
 | |  | (_| | (_| |  __/
 |_|   \__,_|\__, |\___|
              __/ |     
             |___/     

==============================
*/

body{
    padding: 0;
    margin: 0;
    background-color: #e3e3e3;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

main {
    margin-left: 5%;
}

/*
==============================
  _   _             _                
 | \ | |           | |               
 |  \| | __ ___   _| |__   __ _ _ __ 
 | . ` |/ _` \ \ / / '_ \ / _` | '__|
 | |\  | (_| |\ V /| |_) | (_| | |   
 |_| \_|\__,_| \_/ |_.__/ \__,_|_|   
                                     
==============================          
*/

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: rgb(10, 182, 212);
    overflow: hidden;
}

li{
    float: left;
}

li a{
    background-color: rgb(10, 182, 212);
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: all 0.5s;
}

li a:hover{
    background-color: rgb(10, 153, 179);
}

.active {
    background-color: rgb(10, 153, 179);
}

/*
==============================
  _______        _       
 |__   __|      | |      
    | | _____  _| |_ ___ 
    | |/ _ \ \/ / __/ _ \
    | |  __/>  <| ||  __/
    |_|\___/_/\_\\__\___|
                         
==============================
*/

.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: rgb(10, 182, 212);
    cursor: default;
}
  
.hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(10, 182, 212);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
  
.hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

h1 {
    font-size: 3em;
    font-weight: bolder;
}